@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./normalize.css";
@import "./reset.css";
@import "./index/header.css";
@import "./index/main-list.css";
@import "./index/companies.css";
@import "./index/clients.css";
@import "./index/map.css";
@import "./main-footer.css";
@import "./index/pop-up.css";

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1157px;
  margin: 0 auto;
  padding: 0 15px;
}
